.newsTitle {
    margin: 1rem 0;
    color: chocolate;
}

.newsSection {
    width: 100%;
}

.articleImg {
    width: 100%;
    border-radius: 12px;
}

.articleDiv {
    width: 100%;
    min-width: 15.625rem;
    padding: 0.625rem 0.75rem;
    border: 1px solid #cce7d0;
    border-radius: 1rem;
    margin: 0.9375rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 1.25rem 1.25rem 1.875rem rgba(0, 0, 0, 0.02);
}

.articleDiv h3 {
    cursor: pointer;
}

.articleDiv p {
    color: rgba(51, 69, 86, 0.88);

}

h6 {
    color: chocolate;
    font-weight: 400;
}

.articleDiv a {
    text-decoration: none;
    color: rgb(32, 70, 119);
}

@media screen and (max-width: 1100px) {
    .newsSection {
        width: 90%;
        margin: 0 auto;

    }

    .newRap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:
            "fir fir 2en"
            "fir fir 2en";
    }

    .articleDiv {
        width: 28vw;
        grid-area: 2rn;
    }

    @media only screen and (max-width: 900px) {
        .newRap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

        }

        .articleDiv {
            width: 40vw;
            grid-area: 2rn;
        }

        @media screen and (max-width: 700px) {
            .newsTitle {
                margin: 1rem 0;
                text-align: center;
            }

            .newsSection {
                width: 100%;
                padding: 1rem;
            }

            .newRap {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }

            .articleDiv {
                width: 80vw;
            }
        }

    }
}